@drizzle-team:registry=https://us-central1-npm.pkg.dev/marine-cycle-160323/replit-internal/
//us-central1-npm.pkg.dev/marine-cycle-160323/replit-internal/:always-auth=true
# prefer-workspace-packages = true
