{
  "extends": ["airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error"],
    "@typescript-eslint/no-use-before-define": ["error", { "variables": false }],
    "@typescript-eslint/naming-convention": ["off"],
    "react/prop-types": ["off"],
    "react/require-default-props": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "no-underscore-dangle": ["off"],
    "react/no-array-index-key": ["off"],
    "no-param-reassign": ["off"],
    "no-nested-ternary": ["off"]
  }
}
