/*
**/.DS_Store

!src
!imports-checker

!tests
tests/**/tmp/
!vitest.config.ts
!README.md
!CONTRIBUTING.md

!.eslint
!.gitignore
!package.json
!tsconfig.json
!tsconfig.typetest.json
!tsconfig.cli-types.json
!tsconfig.build.json
!pnpm-lock.yaml
!.github
!scripts
!rolldown*.ts

tests/test.ts

!patches
