/*
**/.DS_Store

!src
!imports-checker
!scripts
!tests
tests/**/tmp/
!vitest.config.ts
!README.md
!CONTRIBUTING.md

!.eslint
!.gitignore
!package.json
!tsconfig.json
!tsconfig.typetest.json
!tsconfig.cli-types.json
!tsconfig.build.json
!pnpm-lock.yaml
!.github
!build.ts
!build.dev.ts
!build.ext.ts
!build.cli.ts

tests/test.ts

!patches
