/*
**/.DS_Store

!src
!imports-checker
!tests
!vitest.config.ts
!README.md
!CONTRIBUTING.md
!schema.ts

!.eslint
!.gitignore
!package.json
!tsconfig.json
!tsconfig.cli-types.json
!tsconfig.build.json
!pnpm-lock.yaml
!.github
!build.ts
!build.dev.ts

tests/test.ts

!patches
