name: Release Router

on:
  push:
    branches-ignore:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  detect:
    runs-on: ubuntu-latest
    outputs:
      target: ${{ steps.route.outputs.target }}

    steps:
      - name: Route release
        id: route
        run: |
          EVENT="${{ github.event_name }}"
          BRANCH="${GITHUB_REF##*/}"

          if [[ "$EVENT" == "workflow_dispatch" && "$BRANCH" == "main" ]]; then
            echo "target=latest" >> $GITHUB_OUTPUT
          else
            echo "target=feature" >> $GITHUB_OUTPUT
          fi

  run-feature:
    needs: detect
    if: needs.detect.outputs.target == 'feature'
    uses: ./.github/workflows/release-feature-branch.yaml
    secrets:
      PLANETSCALE_CONNECTION_STRING: ${{ secrets.PLANETSCALE_CONNECTION_STRING }}
      NEON_CONNECTION_STRING: ${{ secrets.NEON_CONNECTION_STRING }}
      NEON_HTTP_CONNECTION_STRING: ${{ secrets.NEON_CONNECTION_STRING }}
      TIDB_CONNECTION_STRING: ${{ secrets.TIDB_CONNECTION_STRING }}
      XATA_API_KEY: ${{ secrets.XATA_API_KEY }}
      XATA_BRANCH: ${{ secrets.XATA_BRANCH }}
      LIBSQL_REMOTE_URL: ${{ secrets.LIBSQL_REMOTE_URL }}
      LIBSQL_REMOTE_TOKEN: ${{ secrets.LIBSQL_REMOTE_TOKEN }}
      SQLITE_CLOUD_CONNECTION_STRING: ${{ secrets.SQLITE_CLOUD_CONNECTION_STRING }}

  run-latest:
    needs: detect
    if: needs.detect.outputs.target == 'latest'
    uses: ./.github/workflows/release-latest.yaml
    secrets:
      PLANETSCALE_CONNECTION_STRING: ${{ secrets.PLANETSCALE_CONNECTION_STRING }}
      NEON_CONNECTION_STRING: ${{ secrets.NEON_CONNECTION_STRING }}
      NEON_HTTP_CONNECTION_STRING: ${{ secrets.NEON_CONNECTION_STRING }}
      TIDB_CONNECTION_STRING: ${{ secrets.TIDB_CONNECTION_STRING }}
      XATA_API_KEY: ${{ secrets.XATA_API_KEY }}
      XATA_BRANCH: ${{ secrets.XATA_BRANCH }}
      LIBSQL_REMOTE_URL: ${{ secrets.LIBSQL_REMOTE_URL }}
      LIBSQL_REMOTE_TOKEN: ${{ secrets.LIBSQL_REMOTE_TOKEN }}
      SQLITE_CLOUD_CONNECTION_STRING: ${{ secrets.SQLITE_CLOUD_CONNECTION_STRING }}