name: Release Router

on:
  push:
    branches-ignore:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  run-feature:
    if: github.event_name != 'workflow_dispatch' && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository)
    uses: ./.github/workflows/release-feature-branch.yaml
    secrets: inherit

  run-latest:
    if: github.event_name == 'workflow_dispatch' && github.ref_name == 'main'
    uses: ./.github/workflows/release-latest.yaml
    secrets: inherit